<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Span6 Contact form submission (Inquiry)</h1>
    <p>
      Name: <%= @inquiry.name %>
    </p>
    <p>
      Email: <%= @inquiry.email %>
    </p>
    <p>
      Subject: <%= @inquiry.subject %>
    </p>
    <p>
      Message: <%= @inquiry.message %>
    </p>
  </body>
</html>