<div class="sidebar_box">
  <h4>Signup Instructions</h4>
  <p>
    Please fill out the form so that our technical experts can contact you for a Demo.
    We will attempt to contact you by phone and if unsuccessful or not provided, then by email.
  </p>
</div>

<div class="sidebar_box">
  <h4>Compatible Browsers</h4>
  <ul>
    <li>Firefox 3 or later</li>
    <li>Safari 4 or later</li>
    <li>Chrome 6 or later</li>
    <li>Opera 10 or later</li>
    <li>IE 8 or later</li>
  </ul>
</div>

<div class="sidebar_box">
  <h4>Contact Us</h4>
  <p>Still have questions? <a href="/contact">Contact us</a>.</p>
</div>