

<div class="header page">
  <h1>Signup</h1>
</div>

<div id="signup" class="padding">

  <div class="left" id="thankyoucontainer" style="display:none">
    <h2><span>Thank You</span></h2>
    <p>Thank you for your interest. We will be contacting you within the next business day.</p>
  </div>

  <div class="left" id="formcontainer">
    <%= render 'form' %>
  </div>

  <div class="right">
    <div class="sidebar_box">
      <h4>Signup Instructions</h4>
      <p>
        Please fill out the form so that our technical experts can contact you for a Demo.
        We will attempt to contact you by phone and if unsuccessful or not provided, then by email.
      </p>
    </div>

    <div class="sidebar_box">
      <h4>Compatible Browsers</h4>
      <ul>
        <li>Firefox 3 or later</li>
        <li>Safari 4 or later</li>
        <li>Chrome 6 or later</li>
        <li>Opera 10 or later</li>
      </ul>
    </div>

    <div class="sidebar_box">
      <h4>Contact Us</h4>
      <p>Still have questions? <a href="/contact">Contact us</a>.</p>
    </div>
  </div>
  <div class="clear"></div>

</div>
