

<div class="header page">
  <h1>Signup For A Demo</h1>
</div>

<div id="signup" class="padding">

  <div class="left" id="thankyoucontainer" style="display:none">
    <h2><span>Thank You</span></h2>
    <p>Thank you for your interest. We will be contacting you within the next business day.</p>
  </div>

  <div class="left" id="formcontainer">
    <%= render 'form' %>
  </div>

  <div class="right">
    <%= render 'right_side' %>
  </div>
  <div class="clear"></div>

</div>
