<div class="header page">
  <h1>About Us</h1>
  <ul>
    <li><a href="html_elements.html">HTML Elements</a></li>
    <li><a href="2_column.html">2 Column</a></li>
  </ul>
</div>

<div id="about" class="padding">

  <div class="wrap_image_left">
    <img src="images/about_img.jpg" alt="" />
  </div>

  <p>Aenean diam massa, fringilla quis consectetur et, iaculis id mi. Curabitur turpis risus, pharetra eget pretium id, lobortis sit amet elit. Sed tincidunt lorem orci, vel ultrices libero. Vestibulum convallis pulvinar aliquet. Donec tincidunt adipiscing velit, in commodo leo porta in. Maecenas sollicitudin quam ut ipsum tristique vel sagittis lectus luctus. Cras semper malesuada faucibus. Fusce dapibus condimentum euismod. Etiam lacinia eros elit, vel convallis elit. Cras orci elit, viverra sit amet consequat at, porta id elit. Donec egestas, felis vitae iaculis accumsan, leo justo venenatis dui, eget lacinia arcu augue eget ante. Aenean diam massa, fringilla quis consectetur et, iaculis id mi. Curabitur turpis risus, pharetra eget pretium id, lobortis sit amet elit. Sed tincidunt lorem orci, vel ultrices libero. Vestibulum convallis pulvinar aliquet. Donec tincidunt adipiscing velit, in commodo leo porta in. Maecenas sollicitudin quam ut ipsum tristique vel sagittis lectus luctus. Cras semper malesuada faucibus. Fusce dapibus condimentum euismod. Etiam lacinia eros elit, vel convallis elit.</p>

  <br/>

  <div class="section_title">
    <h3>Meet The Team</h3>
  </div>

  <!-- Start Team Member -->
  <div class="team member_left">
    <h3>Khurram Virani <span>Lead Developer</span></h3>
    <img src="http://themes.two2twelve.com/site/bizcreative/images/ourteam.jpg" alt="" />
    <p>
      Khurram has been involved in the Affiliate Marketing industry for over five years.
      Having worked on other Affiliate Marketing platforms in the past, he learned the problems and shortcomings in the software.
      This insight was used when creating this CRM.
    </p>
    <ul>
      <li><a href="http://www.khurramvirani.com">Blog</a></li>
      <li><a href="http://www.twitter.com/viranik">Twitter</a></li>
      <li><a href="http://www.linkedin.com/in/kvirani">LinkedIn</a></li>
    </ul>
  </div>
  <!-- End Team Member -->

  <!-- Start Team Member -->
  <div class="team member_right">
    <h3>Farida Ali <span>Financial Officer</span></h3>
    <img src="http://themes.two2twelve.com/site/bizcreative/images/ourteam.jpg" alt="" />
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <!-- End Team Member -->

  <div class="clear"></div>
</div>
