<div class="header page">
  <h1>About Us</h1>
  <!--
  <ul>
    <li><a href="html_elements.html">HTML Elements</a></li>
    <li><a href="2_column.html">2 Column</a></li>
  </ul>
  -->
</div>

<div id="about" class="padding">

  <div class="wrap_image_left">
    <img src="images/about_img1.png" alt="" />
  </div>

  <p>
    <%= n %> is a new cutting-edge CRM that enables online advertisers to easily channel traffic from affiliate campaigns into multiple landing pages, convert the visitors into leads or customers, and track the performance of the overall flow.
  </p>
  <p>
    But that's just the beginning!
  </p>
  <p>
    
  </p>
  <p>
    <a href="/signup">Signup</a> now for a free one-on-one or conference-based Demo of the platform
  </p>

  <br/>

  <div class="section_title">
    <h3>Our Leadership Team</h3>
  </div>

  <!-- Start Team Member -->
  <div class="team member_left">
    <h3>Khurram Virani <span>Awesome Lead Developer</span></h3>
    <img src="/images/kv_small.png" alt="" />
    <p>
      Khurram has been involved in the Affiliate Marketing industry for over five years.
      Having worked on other Affiliate Marketing platforms in the past, he learned the problems and shortcomings in the software.
      This insight was used when creating this CRM.
    </p>
    <ul>
      <li><a href="http://www.khurramvirani.com">Blog</a></li>
      <li><a href="http://www.twitter.com/viranik">Twitter</a></li>
      <li><a href="http://www.linkedin.com/in/kvirani">LinkedIn</a></li>
    </ul>
  </div>
  <!-- End Team Member -->

  <!-- Start Team Member -->
  <div class="team member_right">
    <h3>Farida Ali <span>Awesome Financial Officer</span></h3>
    <img src="/images/fa_small2.png" alt="" />
    <p>
      Farida Ali is a young and hip BBA and MBA with more intuition and foresight than even your typical Wall Street banker.
      Her expertise are a great use at <%= n %> as she manages all of the financial and operational aspects of the company.
    </p>
    <ul>
      <li><a href="http://www.faridaali.com">Personal</a></li>
      <li><a href="http://twitter.com/farida_ali">Twitter</a></li>
      <li><a href="http://www.linkedin.com/in/faridaali">LinkedIn</a></li>
    </ul>
  </div>
  <!-- End Team Member -->

  <div class="clear"></div>
</div>
