<div class="header page">
  <h1>Contact Us</h1>
  <ul>
    <li><a href="#"><%= phone_number %></a></li>
  </ul>
</div>

<div id="contact" class="padding">

  <p>If you'd like to arrange for a Demo and a Free Trial, <a href="/signup">simply Sign-up here</a></p>
  <p>Want to talk to us right away? Call us toll-free at: <strong><%= phone_number %></strong></p>
  <p>For any other inquiries, questions or requests, please submit the form below:</p>

  <div class="section_title">
    <h3>Other Inquiry</h3>
  </div>

  <p class="validation"></p>

  <form action="scripts/send_email.php" method="post" id="contact_form">

    <p><label>Your Name</label>
      <input type="text" id="name" name="name" class="text_field" /></p>

    <p><label>Your Email</label>
      <input type="text" id="email" name="email" class="text_field" /></p>

    <p class="last"><label>Subject</label>
      <select name="subject" id="subject" class="text_field">
        <option value="General Support">General Support</option>
      </select></p>
    <div class="clear"></div>

    <p class="message"><label>Message</label>
      <textarea name="message" id="message" class="text_field" rows="" cols=""></textarea></p>

    <div class="send_form">
      <a href="javascript:;" class="button" id="send"><span>Submit</span></a>
    </div>
    <div class="clear"></div>

  </form>

</div>
