

<div class="header page">
  <h1>Signup For A Demo</h1>
</div>

<div id="signup" class="padding">

  <div class="left">
    <h2><span>Signup Completed</span></h2>

    <p class="confirmation">
      Thank you for your interest in <%= n %>. <br/>
      We will respond within one business day. 
      <br/><br/>Take care,<br/>
      <%= n %> Team.
    </p>
  </div>

  <div class="right">
    <%= render 'signups/right_side' %>
  </div>
  <div class="clear"></div>

</div>
