<div class="header page">
  <h1>Tour</h1>
  <!--<ul>
    <li class="active"><a href="tour.html">Overview</a></li>
    <li><a href="tour.html">My Account</a></li>
  </ul>-->
</div>

<div id="tour" class="padding">

  <p>Stay tuned for a collection of videos ranging from overview to an in-depth walk-through of <%= n %></p>

  <!-- Start Embeddable Screencast -->
  <iframe src="http://player.vimeo.com/video/16000396?title=0&amp;byline=0&amp;portrait=0" width="900" height="506" frameborder="0"></iframe>
  <!-- End Embeddable Screencast -->

</div>