<div class="header page">
  <h1>Contact Us</h1>
  <ul>
    <li><a href="#"><%= phone_number %></a></li>
  </ul>
</div>

<div id="contact" class="padding">

  <p>If you'd like to arrange for a Demo and a Free Trial, simply <a href="/signup">sign-up here</a></p>
  <p>Want to talk to us right away? Call us toll-free at: <strong><%= phone_number %></strong></p>
  <p>For any other inquiries, questions or requests, please submit the form below:</p>

  <div class="section_title">
    <h3>Other Inquiry</h3>
  </div>

  <p class="validation">Bla bla</p>

  <%= render 'form' %>

</div>
